[Unit]
Description=Cat weight measuring
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/git/catfit
ExecStart=/usr/bin/python3 /home/pi/git/catfit/catfit.py

[Install]
WantedBy=multi-user.target
